.home {
  text-align: center;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 60px;
  margin: 0;
}

.home p {
  font-size: 20px;
  margin-bottom: 50px;
}
