.navbar {
  background-color: #0f0f14;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  font-size: 20px;
}

.logoLink {
  flex-grow: 1;
}
